body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#question_title {
  color: darkmagenta;
  text-decoration: none;
}

#num_of_answers {
  background-color: orangered;
  margin-right: 5px;
  margin-bottom: 5px;
}

#post_answer_button {
  margin-top: 5px;
}

#nav_brand{
  text-decoration: none;
  color: white;
}

#answer_title {
  color: orangered;
}

#answer_username{
  font-size: smaller;
  background-color: aqua;
  margin-left: 5px;
}

#post_qn_menu {
  text-decoration: none;
  color: black;
}

#post_answ_form {
  display: grid; /*causes the form to shake while typing in the first qn */
}

#post_answ_button {
  max-width: min-content;
  cursor: pointer;
  font-style: inherit;
  margin-top: 5px;
  max-height: min-content;
}

#home_icon {
  color: white;
}

#comment_span {
  font-size: smaller;
  color: crimson;
  cursor: pointer;
}